.container{
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

.title{
    font-size: 36px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.timer{
    font-size: 72px;
    color: #2c3e50;
}

button{
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    border: none;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

button:hover{
    opacity: 70%;
}

#start{
    background-color: green;
    text-transform: uppercase;
}

#stop{
    background-color: red;
    text-transform: uppercase
}

#reset{
    background-color: #7f8c8d;
    text-transform: uppercase;
}
